@import url("https://fonts.googleapis.com/css?family=Inter:400,700&display=swap");
* {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
}

.container {
  width: 100vw;
}

.container__table {
  width: 15rem;
  margin: 2rem auto;
  text-align: center;
  border-radius: 1rem;
  -webkit-box-shadow: 1px 1px 10px 1px #70707042;
          box-shadow: 1px 1px 10px 1px #70707042;
  -webkit-transition: 200ms -webkit-box-shadow ease-out;
  transition: 200ms -webkit-box-shadow ease-out;
  transition: 200ms box-shadow ease-out;
  transition: 200ms box-shadow ease-out, 200ms -webkit-box-shadow ease-out;
}

.container__table:hover {
  -webkit-box-shadow: 1px 1px 10px 2px #7070707a;
          box-shadow: 1px 1px 10px 2px #7070707a;
}

.container__thead {
  border-radius: 1rem 1rem 0 0;
  background-color: #eb4d55;
  border: 1px #eb4d55;
  color: #fdfcfc;
  font-weight: bold;
  padding: 1rem;
}

.container__tbody td {
  background-color: #faf4f4;
  color: #5c5c5c;
  padding: 1rem 2rem;
}

.container__select {
  margin-top: 1rem;
  padding: 0.5rem;
  background-color: #fdfcfc;
  border-radius: 1rem;
  border: 2px solid #eb8e93;
  color: #eb8e93;
  -webkit-transition: 120ms all ease-in;
  transition: 120ms all ease-in;
}

.container__select:hover {
  border-color: #eb4d55;
  color: #5c5c5c;
  cursor: pointer;
}

.container__output {
  font-weight: 700;
  font-size: 1.5rem;
  color: #5c5c5c;
}

.container__lastTd {
  border-radius: 0 0 1rem 1rem;
}

.container__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container__input {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  padding: 0.5rem;
  background-color: #fdfcfc;
  border-radius: 1rem 0 0 1rem;
  border: 2px solid #eb8e93;
  border-right: transparent;
  color: #5c5c5c;
  -webkit-transition: 120ms all ease-in;
  transition: 120ms all ease-in;
  margin: 0;
}

.container__input:hover {
  border-color: #eb4d55;
}

.container__button {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 0 0.5rem 0.5rem 0;
  background-color: #eb4d55;
  border: solid 0px;
  color: #fdfcfc;
  -webkit-transition: 250ms all ease-out;
  transition: 250ms all ease-out;
}

.container__button:hover {
  background-color: #a05559;
  font-weight: bold;
}

.container__button:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.container__svg {
  width: 1.5rem;
  fill: #fdfcfc;
}
